---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=bc755a7337ca6695a9f4574b9df13340&lat=23.0216238&limit=10&lon=72.5797068
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":72.5797,"lat":23.0216},"list":[{"main":{"aqi":3},"components":{"co":208.62,"no":0.19,"no2":1.2,"o3":105.86,"so2":2.41,"pm2_5":10.76,"pm10":24.43,"nh3":1.87},"dt":1697356245}]}'
  recorded_at: Sun, 15 Oct 2023 07:50:45 GMT
recorded_with: VCR 6.2.0
