---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution/history?appid=bc755a7337ca6695a9f4574b9df13340&end=1694774600&lat=23.0216238&limit=10&lon=72.5797068&start=1694688196
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":72.5797,"lat":23.0216},"list":[{"main":{"aqi":2},"components":{"co":343.8,"no":0.45,"no2":16.28,"o3":36.84,"so2":21.46,"pm2_5":10.72,"pm10":16.32,"nh3":3.83},"dt":1694689200},{"main":{"aqi":2},"components":{"co":377.18,"no":0.32,"no2":19.71,"o3":32.9,"so2":23.6,"pm2_5":11.03,"pm10":16.23,"nh3":4.43},"dt":1694692800},{"main":{"aqi":2},"components":{"co":494,"no":0.16,"no2":29.47,"o3":23.25,"so2":32.42,"pm2_5":15.49,"pm10":21.29,"nh3":7.16},"dt":1694696400},{"main":{"aqi":2},"components":{"co":567.44,"no":0.06,"no2":32.56,"o3":19.67,"so2":35.76,"pm2_5":19.44,"pm10":26,"nh3":9.12},"dt":1694700000},{"main":{"aqi":2},"components":{"co":514.03,"no":0.02,"no2":2[...]
